<!-- index.html in the middle of workshop 1 -->

<!DOCTYPE html>
<html>
<head>
  <title>Hack Book</title>
  <link rel="stylesheet" href="../static/main.css">
</head>
<body>
  <div id="container">
    <h1>Justin</h1>
    <img src="https://lh3.googleusercontent.com/VEYLsRsafd13aXnYgt0xP7cuNwXRmnvZAkPOYBD0ujgjZB0FFccJGNshOcNa5zqJiggauDZwB6VdZ_NTxG12rnYXrajTkHLe7sIy0oLVjRWIvftoHl1fPSVz4852YyRNM5EVt8f8ahmwpMYFzjsdBsck6YDkhYuQQxS74R5c49KQDp5bBpOm98X71PINKwLbXpZ-bjOQlDyC_U4EZxsxDk3hhyUsOE23f9zIfXo6TDQGUQivr5mYdv1hN4JOqYgGx5c8Jkjh7OGl6njA62QDcDhczx53_sjtgsCYhWD1yPwzoi1o85Ech_qZNJf0K_928eFDgGGbUYlXXjmwoR8sEBvZ6jb6BajjE8068EDzSKGfAyhuHKH_aXHJG8Ctp7OFpKm9QXc2Wo-K9ToTNFnLNEjsndB6gATT_ysNNuv4IzEeAsRbOldvSaoHCR1rgmDTUqvPPtCr7flCTn7Y0wB3Nlaw8IhujLkkvnSu5m87GdRoDfxlyrZC0HWYMpTIUjpmNPK_QSLGT8lw2gvGsOmrm_dPYEczzqyDessFPvU3ouSr_vS_6009zlAzPYkb5nP3kg_8vWuPqPn9yoo2CgLZBblbHde8k_nRjgJ6zb8_3ZJW-xIx86A-nOYl0RxF_wCoUdTLpn95TYB4O6DJHRdfw2RPrZIZUnYGeDclikuRglRDUSscOmb0CfR0LXitmjA=w942-h947-no?authuser=0">

    <p>Welcome to my hack book portfolio! I'm ready to do some cool shit</p>

    <p class="facts">Birthday: April 10th, 2000</p>
    <p id="color" class="facts">Favorite color: blue</p>
    <p class="facts">Favorite Hackathon: HackMIT</p>
    <button type="button">Post</button>

    <div id="post1" class="post">
      <h3>Post number 1</h3>
      <p>This is my first post</p>
    </div>
  </div>

</body>
</html>