<!-- index.html in the middle of workshop 1 -->

<!DOCTYPE html>
<html>
<head>
  <title>Hack Book</title>
  <link rel="stylesheet" href="../static/main.css">
</head>
<body>
  <div id="container">
    <h1>Justin</h1>
    <img src="https://ibb.co/6m9zZPF">

    <p>Welcome to my hack book portfolio! I'm ready to do some cool shit</p>

    <p class="facts">Birthday: April 10th, 2000</p>
    <p id="color" class="facts">Favorite color: blue</p>
    <p class="facts">Favorite Hackathon: HackMIT</p>
    <button type="button">Post</button>

    <div id="post1" class="post">
      <h3>Post number 1</h3>
      <p>This is my first post</p>
    </div>
  </div>

</body>
</html>





